@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Serif+SC:wght@200;300;400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


     

@layer base {
  body {
    /* font-family: 'PT Serif', serif; */
    font-family: 'Merriweather','Noto Serif SC', serif;
    /* font-family: 'Lato'; */
  }
  .call {
    
    .callout {
    @apply
    border-none
   pt-4 pb-2 rounded-lg shadow-sm pr-4
    } 
   .callout > .callout-title {
        @apply font-bold
    }

    .abstract {
        @apply !bg-orange-100
    }

    .abstract > .callout-icon {
        @apply !text-orange-400
    }

    .note {

      @apply !bg-indigo-50
    }

    .info{
      @apply !bg-green-100
    }

    .todo{
        @apply !bg-emerald-50
    }

    .warning{
        @apply !bg-amber-100

    }

    .danger{
        @apply !bg-red-200
    }

    .tip{
        @apply !bg-teal-50

    }

    .success {
        @apply !bg-lime-100

    }

    .failure {
        @apply !bg-red-200

    }

    .question{
        @apply !bg-yellow-100
    }

    .question > .callout-icon {
        @apply !text-yellow-500
    }

    .bug {
        @apply !bg-red-300
    }

    .quote {
        @apply !bg-gray-100

    }

    .example {
        @apply !bg-violet-100
    }
    
}
}


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
